@import'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --f700: 'M700';
  --F400: 'C400';
  --title: #F18128;
  --main-color: #FFF;
  --border-radius: 6px;
  --btn-bg: #F18128;
  --btn-hover-bg: #040D1F;
  --bg: #030914;
}

.container {
  max-width: 1110px;
  margin: auto;
  width: 100%;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background: var(--btn-bg);
  padding: 17px 48px;
  color: #000;
  font-family: 'R500';
  font-size: 14px;
  line-height: 12px;
  border-radius: 4px;
  display: inline-block;
  transition: background 500ms, color 500ms;
}

.btn:hover {
  background: #040D1F;
  color: var(--main-color);
}

.title {
  color: var(--title);
  font-family: var(--F400);
  line-height: 40px;
  font-size: 36px;
  width: max-content;
  border-bottom: 2px solid var(--title);
  padding-bottom: 10px;
}

/* adv */
.adv {
  background: linear-gradient(90.09deg, #3800AF -0.35%, #C27500 99.65%);
  display: flex;
  justify-content: center;
  padding: 20px;
  color: var(--main-color);
}

.adv__text {
  font-family: var(--F400);
  line-height: 18px;
  width: 166px;
  margin-top: 6px;
  margin-left: 24px;
}

.adv__icon {
  font-size: 45px;
  transition: transform 1000ms;
}

.adv:hover {
  color: aqua;
}

.adv:hover .adv__icon {
  transform: rotate3D(1, 1, 0, 360deg)
}

/* nav */
.nav {
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  line-height: 21px;
  font-family: var(--f700);
  color: var(--main-color);
}

.nav__menu {
  display: flex;
}

.nav__menu-link {
  padding: 42px 6px;
  margin: 0 9px;
  color: var(--main-color);
  font-size: 14px;
  line-height: 17px;
  font-family: 'M400';
  position: relative;
  display: flex;
  justify-content: center;
}

.nav__menu-link:hover {
  color: var(--title);
}

.nav__menu-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #ED8E00;
  display: block;
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  bottom: 0;
  transition: 250ms;
}

.nav__menu-link:hover::after {
  width: 100px;
}

/* header */
.header {
  position: relative;
}

.header__img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  object-position: right;
  display: block;
}

.header__info {
  position: absolute;
  background: rgba(7, 15, 25, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 64px;
  line-height: 79px;
  font-family: 'M700';
  color: var(--main-color);
}

.header__text {
  color: #c8c8c8;
  line-height: 24px;
  font-family: 'M400';
  text-align: justify;
  max-width: 570px;
  margin: 25px;
}

.header-btn {
  margin-right: 30px;
}

/* main */
.main {
  background: var(--bg);
}

/* films */
.films {
  padding: 56px 0 75px;
}

.films__img {
  border-radius: 6px;
}

.films__content {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
}

.films__card {
  margin-top: 48px;
  position: relative;
  width: 255px;
  margin: 30px 30px 0 0;
}

.films__card-inner {
  position: absolute;
  height: 100%;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 10px 19px;
}

.films__time {
  color: var(--main-color);
  font-size: 14px;
  line-height: 10px;
  font-family: 'M400';
  border: 1px solid var(--main-color);
  border-radius: 9px;
  padding: 7.5px 27px;
  margin: 13px 0 32px;
}

.films__title {
  color: var(--main-color);
  font-size: 22px;
  line-height: 27px;
  font-family: 'M400';
}

.films__text {
  font-family: 'R400';
  font-size: 14px;
  line-height: 21px;
  color: var(--main-color);
}

.films__icon {
  font-size: 42px;
  color: var(--main-color);
}

/* trailer */
.trailer {
  position: relative;
}

.trailer__info {
  position: absolute;
  background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 60.64%, rgba(255, 255, 255, 0) 100.72%);
  width: 100%;
  height: 100%;
}

.trailer__video {
  display: block;
  margin-left: auto;
  width: 50%;
}

.trailer__img {
  margin: 43px 0 40px;
}

.trailer__text {
  font-family: 'R400';
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  max-width: 558px;
  margin-bottom: 30px;
}

.collections {
  padding: 60px 0;
}

.collectins__items {
  margin-top: 48px;
}

.collections__films {
  position: relative;
  width: 350px;
  margin: 15px 15px;
}

.collections__img {
  display: block;
  border-radius: 6px;
}

.collectins__items {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.collections__inner {
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  overflow: hidden;
}

.collections__inner::before,
.collections__inner::after {
  content: '';
  background: url(..//img/Group\ 16.png) no-repeat center/cover;
  width: 20px;
  height: 185px;
  position: absolute;
  left: 11px;
  transition: 500ms;
}

.collections__inner::after {
  left: auto;
  right: 11px;
}

.collections__inner:hover::before {
  left: -100%;
}

.collections__inner:hover::after {
  right: -100%;
}


.collections__icon {
  font-size: 42px;
}

.collections__title {
  font-family: var(--f700);
  font-size: 20px;
  line-height: 23px;
  margin-top: 16px;
}

/* serias */
.series__grid {
  margin-top: 48px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}

.series__item:nth-of-type(6n+1) .series__info {
  align-items: flex-start;
  padding-left: 8.6%;
}

.series__item:nth-of-type(6n+1) .series__title {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
}

.series__info {
  position: absolute;
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.series__icon {
  font-size: 42px;
  margin-bottom: 20px;
}


.series__title {
  font-family: var(--F700);
  font-size: 24px;
  line-height: 27px;
}

.series__item {
  position: relative;
  min-height: 190px;

}

.series__text {
  display: none;
}

.series__btn {
  display: none;
}

.series__item:nth-of-type(6n+1) {
  grid-column: span 4;
  grid-row: span 2;
}

.series__item:nth-of-type(6n+2) {
  grid-column: span 2;
  grid-row: span 2;
}

.series__item:nth-of-type(6n+1) .series__text {
  display: block;
  max-width: 558px;
  width: 100%;
  font-family: var(--f400);
  line-height: 24px;
  margin-bottom: 40px;
}

.series__item:nth-of-type(6n+1) .series__icon {
  display: none;
}

.series__item:nth-of-type(6n+1) .series__btn {
  display: inline-block;
}

.series__img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

/* footer */
.footer {
  background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
  padding: 24px 0;
}

.footer__info {
  justify-content: space-between;
  width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
}

.play__market {
  margin-right: 20px;
}

.footer__text {
  color: var(--main-color);
  font-family: var(--f700);
  font-size: 18px;
  line-height: 20px;
}





















/* responsive media */
@media(max-width:1150px) {
  .footer__info {
    flex-direction: column;
    width: 500px;
  }
}

@media(max-width:850px) {
  .series__item {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media(max-width:800px) {
  .series__item {
    grid-column: span 2;
    max-height: 400px;
  }

  .series__item:nth-of-type(6n+1) {
    grid-column: span 2;
  }

  .series__item:nth-of-type(6n+1) .series__text {
    display: none;
  }

  .series__item:nth-of-type(6n+1) .series__info {
    align-items: center;
  }

  .series__item:nth-of-type(6n+1) .series__icon {
    display: block;
  }

  .series__item:nth-of-type(6n+1) .series__btn {
    display: none;
  }

  .series__item:nth-of-type(6n+1) .series__title {
    text-align: center;
    font-size: 24px;
    line-height: 27px;
  }
}



@media (max-width: 1370px) {
  .trailer__video {
    width: 75%;
  }

  .trailer__info {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 30.64%, rgba(255, 255, 255, 0) 100.72%);

  }
}

@media(max-width: 1139px) {
  .collections__films {
    margin-bottom: 15px;
  }
}



@media(max-width: 930px) {
  .trailer__img {
    margin: 10px 0 15px;
  }
}

@media (max-width: 700px) {
  .trailer__text {
    display: none;
  }


  .trailer__info {
    background: transparent;
  }




  .trailer__video {
    width: 100%;
  }

  .trailer__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trailer__img {
    width: 75%;
    opacity: 0.75;
  }

}

@media (max-width: 650px) {
  .header__img {
    height: 400px;
  }



  .header__title {
    font-size: 40px;
    line-height: 50px;
  }

  .footer .container {
    flex-direction: column;
  }

  .header__text {
    font-size: 14px;
    margin: 15px 0;
  }

  .footer__text {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  .nav__info {
    flex-direction: column;
  }

  .logo {
    margin-top: 15px;
  }
}

@media(max-width:500px) {
  .footer__info {
    width: 350px;
  }

  .footer__img {
    display: none;
  }

  .footer__text {
    margin-right: 100px;
  }
}

@media (max-width: 410px) {
  .header__title {
    text-align: center;
  }

  .header__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__btn {
    margin-right: 0;
    margin-bottom: 14px;
  }

  .collections__film,
  .collections__img {
    width: 100%;
  }
}

.header-btn {
  margin-bottom: 15px;
}

.series__item {
  margin-right: 25px;
}

@media (max-width: 360px) {
  .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__text {
    display: none;
   }

  .nav__menu-link {
    padding: 20px 6px;
  }
}